.stockPage {
    width: 100%;
    min-height: 100vh;
    background-color: #17161C;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .stockPageContainer {
    margin: -1rem auto 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .stockPageTitle {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .searchBarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }  
  
  .searchBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    width: 100%;
    width: 40rem;
  }
  
  .searchBar input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  
  .searchIcon {
    width: 1.5rem;
    height: auto;
  }

  .stockGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 0;
    justify-content: center;
    
  }
  
  .stockCard {
    width: 150px;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .stockSymbol {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .stockPrice {
    font-size: 0.95rem;
  }
  
  /* Color variants (mocked) */
  .black { background: linear-gradient(to right, #111, #333); }
  .blue { background: linear-gradient(to right, #3b82f6, #60a5fa); }
  .orange { background: linear-gradient(to right, #f97316, #fb923c); }
  .purple { background: linear-gradient(to right, #8b5cf6, #a78bfa); }
  .red { background: linear-gradient(to right, #ef4444, #f87171); }
  
  
  @media (max-width: 768px) {
    .stockPageTitle {
      font-size: 3rem;
    }

    .searchBar {
      max-width: 30rem;
    }
  }

  @media (max-width: 680px) {
    .stockPageTitle {
      font-size: 3rem;
    }

    .searchBar {
      max-width: 25rem;
    }
  }

  @media (max-width: 480px) {
    .stockPageTitle {
      font-size: 2rem;
      text-align: center;
    }

    .searchBar {
      max-width: 20rem;
    }
  }